In [ ]:
pwd

'/content'

In [ ]:
!git clone https://github.com/nikhil24agarwal/challenge-week-1.git

Cloning into 'challenge-week-1'...
remote: Enumerating objects: 95, done.
remote: Counting objects: 100% (95/95), done.
remote: Compressing objects: 100% (83/83), done.
remote: Total 137 (delta 39), reused 37 (delta 11), pack-reused 42
Receiving objects: 100% (137/137), 223.20 MiB | 45.31 MiB/s, done.
Resolving deltas: 100% (42/42), done.

In [ ]:
cd challenge-week-1/data

/content/challenge-week-1/data

In [ ]:

!ls

dicom_images  rgb_images  structured_data  videos

In [ ]:
cd structured_data/

/content/challenge-week-1/data/structured_data

In [ ]:
!ls

data.csv

In [ ]:
import pandas as pd

In [ ]:
a=pd.read_csv('data.csv')

In [ ]:
cat=a[['Country','Purchased',"Price Category Of Purchase"]]

In [ ]:
num=a[['Age','Salary']]

In [ ]:
# num=num.interpolate()
# num

In [ ]:
cat.columns

Index(['Country', 'Purchased', 'Price Category Of Purchase'], dtype='object')

In [ ]:
num.columns

Index(['Age', 'Salary'], dtype='object')

In [ ]:
# import math

In [ ]:
# num['Age']=num['Age'].fillna(math.ceil(num['Age'].mean()))
# num['Salary']=num['Salary'].fillna(math.ceil(num['Salary'].mean()))

In [ ]:
a_new=a.interpolate().head(10)

In [ ]:
cat

    Country Purchased  Price Category Of Purchase
0    France        No                           1
1     Spain       Yes                           1
2   Germany        No                           2
3     Spain        No                           3
4   Germany       Yes                           1
5    France       Yes                           2
6     Spain        No                           3
7    France       Yes                           1
8   Germany        No                           2
9    France       Yes                           2
10   France        No                           3
11  Germany       Yes                           3
12  Germany       Yes                           1
13   France        No                           3
14   France        No                           2
15  Germany        No                           1
16  Germany       Yes                           3
17  Germany       Yes                           3
18   France       Yes                           2
19  Germany        No                           1

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [ ]:
z=cat.iloc[:,:].values
z

array([['France', 'No', 1],
       ['Spain', 'Yes', 1],
       ['Germany', 'No', 2],
       ['Spain', 'No', 3],
       ['Germany', 'Yes', 1],
       ['France', 'Yes', 2],
       ['Spain', 'No', 3],
       ['France', 'Yes', 1],
       ['Germany', 'No', 2],
       ['France', 'Yes', 2],
       ['France', 'No', 3],
       ['Germany', 'Yes', 3],
       ['Germany', 'Yes', 1],
       ['France', 'No', 3],
       ['France', 'No', 2],
       ['Germany', 'No', 1],
       ['Germany', 'Yes', 3],
       ['Germany', 'Yes', 3],
       ['France', 'Yes', 2],
       ['Germany', 'No', 1]], dtype=object)

In [ ]:
LabelEncoder_X=LabelEncoder()

In [ ]:
z[:,0]=LabelEncoder_X.fit_transform(z[:,0])
z[:,1]=LabelEncoder_X.fit_transform(z[:,1])

In [ ]:
z

array([[0, 0, 1],
       [2, 1, 1],
       [1, 0, 2],
       [2, 0, 3],
       [1, 1, 1],
       [0, 1, 2],
       [2, 0, 3],
       [0, 1, 1],
       [1, 0, 2],
       [0, 1, 2],
       [0, 0, 3],
       [1, 1, 3],
       [1, 1, 1],
       [0, 0, 3],
       [0, 0, 2],
       [1, 0, 1],
       [1, 1, 3],
       [1, 1, 3],
       [0, 1, 2],
       [1, 0, 1]], dtype=object)

In [ ]:
zz=pd.DataFrame(z)

In [ ]:
zz

    0  1  2
0   0  0  1
1   2  1  1
2   1  0  2
3   2  0  3
4   1  1  1
5   0  1  2
6   2  0  3
7   0  1  1
8   1  0  2
9   0  1  2
10  0  0  3
11  1  1  3
12  1  1  1
13  0  0  3
14  0  0  2
15  1  0  1
16  1  1  3
17  1  1  3
18  0  1  2
19  1  0  1

In [ ]:
onehotencoder=OneHotEncoder()

In [ ]:
zzz=onehotencoder.fit_transform(zz).toarray().astype(int)

In [ ]:
zzz

array([[1, 0, 0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 1, 1, 0, 0],
       [0, 1, 0, 1, 0, 0, 1, 0],
       [0, 0, 1, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 1, 0, 0],
       [1, 0, 0, 0, 1, 0, 1, 0],
       [0, 0, 1, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1, 1, 0, 0],
       [0, 1, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1, 1, 0, 0],
       [1, 0, 0, 1, 0, 0, 0, 1],
       [1, 0, 0, 1, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1, 0, 0, 1],
       [1, 0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 0]])

In [ ]:
zzz=pd.DataFrame(zzz)

In [ ]:
zzz

    0  1  2  3  4  5  6  7
0   1  0  0  1  0  1  0  0
1   0  0  1  0  1  1  0  0
2   0  1  0  1  0  0  1  0
3   0  0  1  1  0  0  0  1
4   0  1  0  0  1  1  0  0
5   1  0  0  0  1  0  1  0
6   0  0  1  1  0  0  0  1
7   1  0  0  0  1  1  0  0
8   0  1  0  1  0  0  1  0
9   1  0  0  0  1  0  1  0
10  1  0  0  1  0  0  0  1
11  0  1  0  0  1  0  0  1
12  0  1  0  0  1  1  0  0
13  1  0  0  1  0  0  0  1
14  1  0  0  1  0  0  1  0
15  0  1  0  1  0  1  0  0
16  0  1  0  0  1  0  0  1
17  0  1  0  0  1  0  0  1
18  1  0  0  0  1  0  1  0
19  0  1  0  1  0  1  0  0

In [ ]:
from sklearn import preprocessing

In [ ]:
num=num.interpolate()

In [ ]:
X=num.values

In [ ]:
XX=preprocessing.MinMaxScaler()

In [ ]:
XXX= XX.fit_transform(X)
numm= pd.DataFrame(XXX)

In [ ]:
numm

           0         1
0   0.812500  0.738095
1   0.281250  0.166667
2   0.375000  0.309524
3   0.625000  0.476190
4   0.687500  0.440476
5   0.531250  0.404762
6   0.734375  0.261905
7   0.937500  0.904762
8   1.000000  1.000000
9   0.593750  0.619048
10  0.000000  0.319048
11  0.125000  0.333333
12  0.218750  0.423810
13  0.312500  0.023810
14  0.187500  0.000000
15  0.531250  0.666667
16  0.437500  0.619048
17  0.625000  0.571429
18  0.843750  0.571429
19  0.218750  0.571429

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
objStandardisation= StandardScaler()

In [ ]:
numS=objStandardisation.fit_transform(num.interpolate())

In [ ]:
numS

array([[ 1.11280852,  1.05321985],
       [-0.80291247, -1.20066123],
       [-0.46484406, -0.63719096],
       [ 0.4366717 ,  0.02019102],
       [ 0.66205064, -0.12067655],
       [ 0.09860329, -0.26154412],
       [ 0.83108484, -0.82501439],
       [ 1.56356639,  1.71060183],
       [ 1.78894533,  2.08624867],
       [ 0.32398223,  0.58366129],
       [-1.8171177 , -0.59962628],
       [-1.36635982, -0.54327925],
       [-1.02829141, -0.18641475],
       [-0.690223  , -1.7641315 ],
       [-1.14098088, -1.85804321],
       [ 0.09860329,  0.77148471],
       [-0.23946512,  0.58366129],
       [ 0.4366717 ,  0.39583786],
       [ 1.22549799,  0.39583786],
       [-1.02829141,  0.39583786]])