In [42]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [29]:
data=pd.read_csv('multiple_linear_data.csv')

In [30]:
data.head(5)

,age,address,famsize,reason,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,freetime,goout,health,absences,G1,G2,G3
0,18,U,GT3,course,2,0,yes,no,no,no,yes,no,no,3,4,3,6,25,30,30
1,17,U,GT3,course,2,0,no,yes,no,no,yes,yes,no,3,3,3,4,25,25,30
2,15,U,LE3,other,2,3,yes,no,yes,no,yes,yes,no,3,2,3,10,35,40,50
3,15,U,GT3,home,3,0,no,yes,yes,yes,yes,yes,yes,2,2,5,2,75,70,75
4,16,U,GT3,home,2,0,no,yes,yes,no,yes,no,no,3,2,5,4,30,50,50

In [31]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [32]:
obj_LE=LabelEncoder()
obj_OHE=OneHotEncoder()    #objects for encoding schemes

In [33]:
cato_list=['address','famsize','reason','schoolsup','famsup','paid','activities','higher','internet','romantic']

In [34]:
for i in cato_list:
    data[i]=obj_LE.fit_transform(data[i])                 #label encode

In [43]:
cols = data.columns

In [51]:
cols_X=cols[0:19]
cols_y=cols[-1]

In [52]:
X=data[cols_X]
y=data[cols_y]              #slicing

In [80]:
obj_LR=LinearRegression()

In [81]:
from sklearn.model_selection import train_test_split

In [92]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1)

In [93]:
model=obj_LR.fit(X_train,y_train)

In [94]:
y_pred=model.predict(X_test)

In [95]:
MSE=mean_squared_error(y_test,y_pred)

In [100]:
print(f"\nMSE: {MSE}")

MSE: 67.85466929520713

In [101]:
data.head(2)

,age,address,famsize,reason,studytime,failures,schoolsup,famsup,paid,activities,higher,internet,romantic,freetime,goout,health,absences,G1,G2,G3
0,18,1,0,0,2,0,1,0,0,0,1,0,0,3,4,3,6,25,30,30
1,17,1,0,0,2,0,0,1,0,0,1,1,0,3,3,3,4,25,25,30

In [104]:
new_data = np.array([21,1,1,1,2,0,1,1,1,1,1,1,1,3,4,3,4,26,30]).reshape(1,-1)
print("Predicted grade:",model.predict(new_data))

Predicted grade: [21.41989069]